{#
/**
 * @file
 * Template pour le layout personnalisé à 5 colonnes.
 *
 * Variables disponibles :
 * - content: Le contenu de chaque région.
 * - attributes: Les attributs HTML globaux du layout.
 * - region_attributes: Les attributs propres à chaque région.
 */
#}
{% set layout_class = [
  'component-type-layout',
  layout.id,
  'layout--bg-' ~ attributes.background_color,
] %}

{{dump(attributes.background_color)}}

{% if content %}
<div {{ layout_class }}>
  {% if content.col1 %}
    <div {{ region_attributes.col1.addClass('layout__col-1') }}>
      {{ content.col1 }}
    </div>
  {% endif %}
  {% if content.col2 %}
    <div {{ region_attributes.col2.addClass('layout__col-2') }}>
      {{ content.col2 }}
    </div>
  {% endif %}
  {% if content.col3 %}
    <div {{ region_attributes.col3.addClass('layout__col-3') }}>
      {{ content.col3 }}
    </div>
  {% endif %}
  {% if content.col4 %}
    <div {{ region_attributes.col4.addClass('layout__col-4') }}>
      {{ content.col4 }}
    </div>
  {% endif %}
  {% if content.col5 %}
    <div {{ region_attributes.col5.addClass('layout__col-5') }}>
      {{ content.col5 }}
    </div>
  {% endif %}
</div>
{% endif %}
 